
h2{
    font-family: 'verdana', sans-serif;
    font-size: 30px;
}

/* Style da Seta para voltar */

.fa-arrow-left {

    color:rgb(74, 177, 221);
    margin-right: 10px;
    font-weight: bold;
    font-size: 35px;

  }

  .fa-arrow-left:hover{

    color:rgb(0, 179, 255);
    text-decoration: none;
  
  }

/* Cor do "*" campo obrigatorio  */
  .required {
    color: red;
}
 